@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

.container {
  /* max-width: 1050px; */
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: x-large;
  text-transform: uppercase;
}
.footer {
  position: absolute;
  bottom: 0px;
}
